@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fcfaf7;
  --black: #1d1e1f;
  --background: var(--white);
  --foreground: var(--black);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-space-grotesk);
}
